:root {
    --bg-blue: #252a34;
    --text-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url('/media/RR_REM(1).png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--text-color);
    overscroll-behavior: none;
}

a {
    color: var(--text-color);
}

header {
    width: 100%;
    height: 50px;
    background-color: var(--bg-blue);
    position: fixed;
    top: 0;
    left: 0;
    filter: drop-shadow(0px 2px 4px black);
    z-index: 999;
}

footer {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: var(--bg-blue);
    color: var(--text-color);
    bottom: 0;
    left: 0;
}

footer > ul {
    list-style-type: none;
}

nav {
    max-width: 500px;
    position: fixed;
    height: 100%;
    left: 20px;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

nav > ul > li {
    float: left;
}

nav > ul > li:hover {
    background-color: #57637A;
    color: #1b1b32;
    cursor: pointer;
}

nav > ul > li > a {
    color: var(--text-color);
    display: block;
    text-decoration: none;
    padding: 15px 15px;
}

footer > ul > li > a {
    color: var(--text-color);
    text-decoration: none;
}

summary {
    font-size: 150%;
    text-align: center;
}

.map {
    width: 400px;
    height: auto;
    padding: 10px;
}

.content > details > p {
    text-indent: 50px;
}

.avatar {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.container {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    top: 80px;
    width: 90%;
    /* border: 2px solid white; */
    padding: 20px;
}
.content {
    background-color: var(--bg-blue);
    width: 100%;
    margin: 20px;
    padding: 20px;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 20pt;
    color: black;
    text-decoration: none;
    width: 400px;
    height: 300px;
    margin: 10px;
    background: #a9a9a9;
    background-blend-mode: multiply;
    background-position: center;
    box-shadow: rgba(40, 40, 40, 0.5) 20px 20px 20px inset, rgba(26, 26, 26, 0.5) -20px -20px 20px inset;
    text-shadow: 2px 2px 10px black;
    text-align: center;
    color: #f3f3f3;
}

.project:hover {
    background: #fbfbfb;
    background-blend-mode: multiply;
    background-position: center;
}

.map-container {
    display: flex;
    overscroll-behavior: contain;
}

#terracemap {
    height: 480px;
    width: 640px;
    margin: auto;
}

figure > img {
    background: white;
    display: block;
    object-fit: cover;
    margin: auto;
    padding: 20px;
    height: 400px;
    width: auto;
}

figure > figcaption {
    text-align: center;
    color: var(--text-color);
}

iframe {
    width: 800px;
    height: 600px;
}
